<h2>Subtask Templates</h2>

<div class="contextual">
  <%= link_to 'New Template', new_subtask_template_path, class: 'icon icon-add' %>
</div>

<% if @templates.any? %>
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Project</th>
          <th>Number of subtasks</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @templates.each do |template| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= link_to template.name, subtask_template_path(template) %></td>
            <td><%= truncate(template.description, length: 100) %></td>
            <td><%= template.project ? template.project.name : 'Global' %></td>
            <td><%= template.subtask_template_items.count %></td>
            <td><%= format_date(template.created_at) %></td>
            <td class="buttons">
              <%= link_to 'Edit', edit_subtask_template_path(template), class: 'icon icon-edit' %>
              <%= link_to 'Delete', subtask_template_path(template), method: :delete, 
                          confirm: 'Are you sure?', class: 'icon icon-del' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="nodata">No templates found.</p>
<% end %>
